Repository bitcoin/bips, pull requests merged in 2024-10, with the labels that each got.

#1672 Explicitly mention care around payment instruction expiry in 353
  bip-0353.mediawiki
Labels: Proposed BIP modification

#1674 Revert "BIP85: Clarify spec, correct test vectors, add Portuguese language code, add dice application"
  README.mediawiki
  bip-0085.mediawiki
Labels: Bug fix

#1678 BIP119: remove James O'Beirne as co-author
  README.mediawiki
  bip-0119.mediawiki
Labels: Proposed BIP modification

#1682 BIP327: update status from Draft to Active
  README.mediawiki
  bip-0327.mediawiki
Labels: Proposed BIP modification, Pending acceptance

#1679 BIP-85: Add language code & dice app, TPRV guidance, warn on BIP-32 divergence, grammar & clarity
  README.mediawiki
  bip-0085.mediawiki
Labels: Proposed BIP modification

#1676 BIP85: update status to Final
  README.mediawiki
  bip-0085.mediawiki
Labels: Proposed BIP modification

#1692 BIP125: update status of Opt-in Full RBF Signaling to Obsolete
  README.mediawiki
  bip-0125.mediawiki
Labels: Proposed BIP modification
