Repository bitcoin/bips, pull requests merged in 2024-08, with the labels that each got.

#1601 BIP94 Testnet 4
  README.mediawiki
  bip-0094.mediawiki
Labels: New BIP

#1644 388 - Add more motivation, and links to miniscript BIP
  bip-0388.mediawiki
Labels: Proposed BIP modification

#1657 Add a PSBT per-output field for BIP 353 DNSSEC Proofs
  bip-0174.mediawiki
  bip-0353.mediawiki
Labels: Proposed BIP modification, Pending acceptance
