Repository bitcoin/bips, pull requests merged in 2024-05, with the labels that each got.

#1583 Update BIP 340 with fresher info on multi-, threshold, and blind signatures
  bip-0340.mediawiki
Labels: enhancement

#1525 BIP 347: OP_CAT in Tapscript
  README.mediawiki
  bip-0347.mediawiki
Labels: New BIP

#1389 BIP 388: Wallet Policies for Descriptor Wallets
  README.mediawiki
  bip-0388.mediawiki
  bip-0388/wallet_policies.py
Labels: New BIP

#1458 BIP 352: Silent Payments
  README.mediawiki
  bip-0352.mediawiki
  bip-0352/bech32m.py
  bip-0352/bitcoin_utils.py
  bip-0352/reference.py
  bip-0352/scan_data_downloader_per_month.png
  bip-0352/secp256k1.py
  bip-0352/send_and_receive_test_vectors.json
Labels: New BIP

#1411 BIP-158: Fix description of M parameter
  bip-0158.mediawiki
Labels: Proposed BIP modification, Pending acceptance

#1556 BIP 337: Compressed Transactions
  README.mediawiki
  bip-0337.mediawiki
Labels: New BIP

#1598 bip-0322: add another valid sig vector not to confuse
  bip-0322.mediawiki
Labels: Proposed BIP modification
