Repository bitcoin/bips, pull requests merged in 2024-12, with the labels that each got.

#1535 BIP 348: OP_CHECKSIGFROMSTACK
  README.mediawiki
  bip-0348.md
Labels: New BIP, PR Author action required

#1705 BIP-373: denote different public key types/purposes consistently
  bip-0373.mediawiki
Labels: Proposed BIP modification

#1697 388: Add support for `musig` in descriptor templates
  bip-0388.mediawiki
Labels: Proposed BIP modification

#1728 [BIP-0349] OP_INTERNALKEY add credit section
  bip-0349.md
Labels: Proposed BIP modification

#1729 BIP-340: fix `lift_x` calls in test vector generation script
  bip-0340/test-vectors.py
Labels: Proposed BIP modification, Pending acceptance, Bug fix

#1731 [BIP-0349] Add Re-Keying explanation to OP_INTERNALKEY
  bip-0349.md
Labels: Proposed BIP modification, Pending acceptance

#1689 BIP374: Discrete Log Equality Proofs (DLEQ)
  README.mediawiki
  bip-0374.mediawiki
  bip-0374/gen_test_vectors.py
  bip-0374/reference.py
  bip-0374/run_test_vectors.py
  bip-0374/secp256k1.py
Labels: New BIP

#1734 bip-0374: fix challenge generation, use correct generator point
  bip-0374/reference.py
Labels: Bug fix
