Repository bitcoin/bips, pull requests merged in 2025-08, with the labels that each got.

#1906 Fix broken MES16.pdf link in BIP-347
  bip-0347.mediawiki
Labels: Link fix

#1797 BIP 345: Fix OP_VAULT_RECOVER specification for the recovery-sPK-hash
  bip-0345.mediawiki
Labels: Proposed BIP modification

#1920 BIP374: remove debug print from test runner
  bip-0374/run_test_vectors.py
Labels: Proposed BIP modification

#1932 BIP345: fix broken link
  bip-0345.mediawiki
Labels: Link fix

#1940 BIP3: license section updates
  bip-0003.md
Labels: Proposed BIP modification, Pending acceptance, Link fix

#1941 BIP2: license section fixups
  bip-0002.mediawiki
Labels: Link fix
