Repository bitcoin/bips, pull requests merged in 2025-03, with the labels that each got.

#1781 BIP-0094: add default p2p port for testnet4
  bip-0094.mediawiki
Labels: Proposed BIP modification

#1789 bip-0348: correct BIP number in referencing unknown key types
  bip-0348.md
Labels: Proposed BIP modification

#1783 Fix links in BIP300
  bip-0300.mediawiki
Labels: Pending acceptance

#1782 BIP-0094: reformat specification section for clarity and readability
  bip-0094.mediawiki
Labels: Proposed BIP modification

#1792 [BIP-119] language overhaul & cleanup
  bip-0119.mediawiki
Labels: Proposed BIP modification

#792 Reject BIP-0060 (three years inactivity)
  README.mediawiki
  bip-0060.mediawiki
Labels: Process

#1584 BIP32 amendment: base58chk-encoded extended keys are always 111 chars
  bip-0032.mediawiki
Labels: Proposed BIP modification, Pending acceptance

#1778 BIP379: add missing hexadecimal notations
  bip-0379.md
Labels: Proposed BIP modification, Pending acceptance

#1791 BIPs 67 and 301: fix links
  bip-0067.mediawiki
  bip-0301.mediawiki
Labels: Proposed BIP modification

#1794 BIP3: Move to Proposed
  README.mediawiki
  bip-0003.md
Labels: Proposed BIP modification

#1804 bip3: a couple nits
  bip-0003.md
Labels: Proposed BIP modification, Pending acceptance
