Repository bitcoin/bips, pull requests merged in 2025-02, with the labels that each got.

#1751 BIP374: add test vectors for secp256k1 generator point
  bip-0374/gen_test_vectors.py
  bip-0374/run_test_vectors.py
  bip-0374/test_vectors_generate_proof.csv
  bip-0374/test_vectors_verify_proof.csv
Labels: Proposed BIP modification

#1680 BIP39: add license and copyright section
  bip-0039.mediawiki
Labels: Proposed BIP modification, Pending acceptance

#1754 BIPs 174 and 375: fix PSBT_OUT_SP_V0_LABEL value
  bip-0174.mediawiki
  bip-0375.mediawiki
Labels: Proposed BIP modification

#1765 BIP119: Fix `OP_EQUALVERIFY` typo
  bip-0119.mediawiki
Labels: Pending acceptance

#1763 390: Add reference implementation
  bip-0390.mediawiki
Labels: Proposed BIP modification

#1764 373: test vectors, reference implementation, update to Proposed
  README.mediawiki
  bip-0373.mediawiki
Labels: Proposed BIP modification

#1762 328: test vectors, reference implementation, update to Proposed
  README.mediawiki
  bip-0328.mediawiki
  bip-0328/_base58.py
  bip-0328/_bip327.py
  bip-0328/_common.py
  bip-0328/_xpub.py
  bip-0328/reference.py
  bip-0328/vectors.json
Labels: Proposed BIP modification

#1712 BIP3: Updated BIP Process
  README.mediawiki
  bip-0003.md
  bip-0003/status-diagram.png
Labels: New BIP

#1771 BIP3: Address follow-ups from #1712
  bip-0003.md
Labels: Proposed BIP modification

#1750 BIP329: add optional data fields, fix a JSON type
  bip-0329.mediawiki
Labels: Proposed BIP modification

#1768 BIP159 updates
  bip-0159.mediawiki
Labels: Proposed BIP modification, Pending acceptance

#1758 BIP374: Add message to rand computation
  bip-0374.mediawiki
  bip-0374/reference.py
  bip-0374/test_vectors_generate_proof.csv
  bip-0374/test_vectors_verify_proof.csv
Labels: Proposed BIP modification, Bug fix
