Repository bitcoin/bips, pull requests merged in 2025-01, with the labels that each got.

#1726 BIP158: fix btcutil gcs broken link.
  bip-0158.mediawiki
Labels: Proposed BIP modification, Bug fix

#1745 BIP345: fix OP_SUCCESS188 hex value
  bip-0345.mediawiki
Labels: Pending acceptance, Bug fix

#1687 BIP375: Sending Silent Payments in PSBTs
  README.mediawiki
  bip-0174.mediawiki
  bip-0375.mediawiki
Labels: New BIP

#1396 Fix BIP 78 & BIP 174 Conflict: Keep input utxo data through input finalization
  bip-0078.mediawiki
Labels: Proposed BIP modification
