Repository bitcoin/bips, pull requests merged in 2025-05, with the labels that each got.

#1835 BIP48: Add p2tr script type derivation
  bip-0048.mediawiki
Labels: Proposed BIP modification

#1821 BIP177: Redefine Bitcoin’s Base Unit
  README.mediawiki
  bip-0177.mediawiki
Labels: New BIP

#1846 BIP48: Add P2SH-P2WSH and P2TR mainnet examples
  bip-0048.mediawiki
Labels: Proposed BIP modification

#1848 BIP-345: withdraw
  README.mediawiki
  bip-0345.mediawiki
Labels: Proposed BIP modification

#1793 BIP 443: OP_CHECKCONTRACTVERIFY
  README.mediawiki
  bip-0443.mediawiki
  bip-0443/amount_example_1.png
  bip-0443/amount_example_2.png
  bip-0443/amount_example_3.png
  bip-0443/amount_example_4.png
Labels: New BIP

#1853 bip-0331: correct size of version field in sendpackages
  bip-0331.mediawiki
Labels: Proposed BIP modification, Bug fix

#1854 BIP341: replace broken twitter link
  bip-0341.mediawiki
Labels: Proposed BIP modification

#1844 BIP-99: fix footnotes and drop missing reference
  bip-0099.mediawiki
Labels: Proposed BIP modification

#1850 BIP48: Partially revert recent changes, move to final
  README.mediawiki
  bip-0048.mediawiki
Labels: Proposed BIP modification

#1760 BIP 53: Disallow 64-byte transactions
  README.mediawiki
  bip-0053.mediawiki
  bip-0053/2-BitcoinMerkle.pdf
  bip-0053/64byte-tx-mainnet.txt
  bip-0053/non-standard-hashlock-utxos.txt
Labels: New BIP

#1857 BIP69: fix link
  bip-0069.mediawiki
Labels: Bug fix
