Repository bitcoin/bips, pull requests merged in 2025-07, with the labels that each got.

#1884 BIP-0388: Fix test vector
  bip-0388.mediawiki
Labels: Proposed BIP modification

#1897 BIP69: fix function name typo in example code
  bip-0069/bip-0069_examples.py
Labels: Bug fix

#1902 BIP352: be explicit for the input_hash corner case
  bip-0352.mediawiki
Labels: Proposed BIP modification

#1904 BIP3: drop optional License Code header
  bip-0003.md
Labels: Proposed BIP modification, Pending acceptance
