Repository bitcoin/bips, pull requests merged in 2025-04, with the labels that each got.

#1779 BIP374: add subtraction operator for GE class
  bip-0374/reference.py
  bip-0374/secp256k1.py
Labels: Proposed BIP modification, Pending acceptance

#1817 BIP-0374: fix incorrect bit index and modernize CSV reader usage in test vector scripts
  bip-0374/gen_test_vectors.py
  bip-0374/run_test_vectors.py
  bip-0374/test_vectors_verify_proof.csv
Labels: Proposed BIP modification, Pending acceptance

#1840 BIP 154: fix link to cuckoo-profile.pdf
  bip-0154.mediawiki
Labels: Proposed BIP modification

#1836 BIP 99: update invalid link to hardfork-timewarp-0.11 branch
  bip-0099.mediawiki
Labels: Proposed BIP modification

#1800 BIP 54: Consensus Cleanup
  README.mediawiki
  bip-0054.md
Labels: New BIP
